/* html,
body,
header,

.viewsort {
    display:inline;
}
.layout {
    width:1225px;
    margin:0 auto;
} */

html,
body,
header,

.viewsort {
    display:inline;
}
.margin{
    margin:10px;
}
.imglist {
    display:inline;
}
.imglist:hover {
    transform:scale(1.1);
}
.layout {
    width:81%;
    margin:0 auto;
}
.keywordlayout {
    margin-left:9.3%;
}
.pagebuttonlayout {
    margin-right:10.7%;
    margin-bottom: -1%;
}
.pagebtn{
    background-color: white;
    border:none;
    
}
.pagebtn-img{
    background-color: white;
    cursor: pointer;
    border:none;

}
.pagebtn-img:hover{
    transform: scale(1.3);
}
