<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crawling test page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            #test {
                display: inline;
            }
        </style>
</head>
<body>
    <form method='POST'>
        <input type="text" name="imgkeyword" placeholder="테스트 내용 입력" value="{{keyword}}" required>
        <input type="submit" value="이미지검색" formaction='/imgCrawling'>
        <input type="submit" value="아이콘검색" formaction='/iconCrawling'>
    </form>
    {% if tmp %}
    <form id="test" action = '/previouspage' method = 'POST'>
        <input type = "submit" value = "<">
    </form>
    <form id="test" action = '/nextpage' method = 'POST'>
        <input type = "submit"  value = ">">
    </form>
    {% endif %}
    
    <br>
    {% if tmp %}
    검색어 : {{keyword}}<br>
    {% endif %}
    {% for img_list in imglist %}

    <script type = "text/javascript">
        var img_list = new Array();
        function test(imglists) {
            img_list.push(imglists);
            console.log(img_list);
        }
        function download(){
            for (var i=0; i<img_list.length; i++) {
                console.log(img_list[i]);
            }
            return img_list
        }
    </script>
    
    <input type="image" src={{img_list}} width="300px" height="300px" onclick=test(src);>
    {% endfor %}
    {% if tmp %}
    <br><input type="button" value="download" onclick="download();">
    {% endif %}
</body>
</html>